<footer>
    
    <a href="https://github.com/AdoraWyne" target="_blank">MyGitHub</a>
    <a href="https://www.linkedin.com/in/adora-chinying-kong/" target="_blank">MyLinkedIn</a>
    <a href="https://twitter.com/CodeYing" target="_blank">MyTwitter</a>
    <p>Built by Adora.CY</p>
</footer>
    
</body>
</html>