<%- include("./partials/headBefore.ejs") %>

<!-- a link back to the collection main page-->
<a href="/events">Back to All Collections Page</a>

<img src="https://img.freepik.com/free-vector/500-internal-server-error-concept-illustration_114360-5572.jpg" alt="404 Error">

<%- include("./partials/foot.ejs") %>