<%- include("./partials/headBefore.ejs") %>  

<%- include('./partials/flash.ejs') %>

<h1>Welcome to the Music Festival Collections App!</h1>
<h3>Register or Login to join us!</h3>
<p><a href="/events/login">Login</a></p>
<p><a href="/events/register">Register</a></p>

<%- include("./partials/foot.ejs") %> 