<%- include("./partials/headBefore.ejs") %>

<%- include('./partials/flash.ejs') %>

<header>
    <h1>Welcome to RobDido Music Festival Collections App!</h1>
</header>

<main>
    <form method="post" action="/events/login">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" aria-describedby="login" placeholder="Enter username" required />
            <small id="login" class="form-text text-muted">*Required</small>
        </div>

        <br />

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required />
        </div>

        <br />

        <button type="submit" class="btn btn-outline-success">LOGIN</button>
    </form>

    <!-- Register buttons -->
    <div>
        <p>Not a member? <a href="/events/register">Register Here!</a></p>
    </div>
</main>


<%- include("./partials/foot.ejs") %>

